
/*GENERAL*/
:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --war-black-p: #282623;
    --gre: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*HEADER*/

.header-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-width: 320px;
    height: 295px;

    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}

.header-container img {
    margin: 33px 0;
}

.header-container-text {
    width: 90%;
    min-width: 280px;
}

.header-container-text h1 {
    font-size: 2.4rem;
    line-height: 2.6rem;

    font-weight: 700;

    color: var(--just-white);
}

.header-container-text p {
    margin-top: 24px;

    font-size: 1.4rem;
    line-height: 1.8rem;

    font-weight: 500;

    color: var(--soft-orange);
}

.header-container .header-button {
    position: absolute;
    top: calc(100% - 24px);

    padding: 15px 16px;

    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    
    color: var(--warm-black);

    background-color: var(--off-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header-button span {
    display: inline-block;

    margin-left: 14px;
    margin-right: 6px;

    width: 12px;
    height: 8px;
    background-image: url('/assets/icons/down-arrow.svg');
}

/*SECTION 1*/

.graph-container {
    padding-top: 60px; /*uso padding en el contendor principal por el background*/
    margin-bottom: 60px;
    height: 100%;
    min-width: 320px;
    background-color: var(--off-white);
}

.graph-image {
    width: 195px;
    height: 195px;

    margin: 0 auto;
    margin-bottom: 40px; /*si agrego margin top el background no aplica*/

    background-image: url('/assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.graph-container-info h2 {
    min-width: 288px;

    margin-bottom: 24px;

    text-align: center;
    line-height: 2.6rem;
    font-size: 2.4rem;
    font-weight: 700;
}

.graph-container-info-p {
    min-width: 288px;

    text-align: center;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 500;

    color: #757575;
}



.table-container {
    min-width: 280px;
    width: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
}

.table-title {
    margin-top: 46px;
    margin-bottom: 12px;
    margin-left: 28px; /*ver margenes 12 + 12 + 4*/
    width: 100%;
}

.table-title h3 {
    text-align: start;

    font-weight: 700;
    font-size: 1.8rem;
    color: var(--bitcoin-orange);
}

.table-structure {
    width: 100%;
}


.table-structure td {
    width: 50%;
    margin: 2px;
    padding: 12px;

    background-color: var(--just-white);
}

.table-arrow-down { /*para mostrar el icono, display mas su dimension*/
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 12px;

    background-image: url('/assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table-arrow-up { /*para mostrar el icono, display mas su dimension*/
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 12px;
    
    background-image: url('/assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table-right {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;

    color: #757575;
}

.table-left {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;

    color: #B5B0AC;
}

.table-left-border-top {
    border-radius: 4px 0 0 0;
}

.table-right-border-top {
    border-radius: 0 4px 0 0;
}

.table-left-border-botton {
    border-radius: 0 0 0 4px;
}

.table-right-border-botton { 
    border-radius: 0 0 4px 0;
}

.table-update {
    min-width: 280px;
    max-width: 500px;
    padding: 8px;
    margin-top: 16px;

    text-align: center;

    background: var(--soft-orange);
    border-radius: 8px;
}

.table-update h3 {
    display: inline-block;
    font-weight: 700;

    font-size: 1.2rem;

    color: var(--war-black-p);
}

.table-update p {
    display: inline-block;
    font-weight: 500;

    font-size: 1.2rem;

    color: var(--war-black-p);
}


/*table blue*/

.table-title-blue {
    margin-top: 46px;
    margin-bottom: 12px;
    margin-left: 28px; /*ver margenes 12 + 12 + 4*/
    width: 100%;
}

.table-title-blue h3 {
    text-align: start;

    font-weight: 700;
    font-size: 1.8rem;
    color: var(--secundary-blue);
}

.table-update-blue {
    min-width: 280px;
    max-width: 500px;
    padding: 8px;
    margin-top: 16px;

    text-align: center;

    background: var(--soft-blue);
    border-radius: 8px;
}

.table-update-blue h3 {
    display: inline-block;
    font-weight: 700;

    font-size: 1.2rem;

    color: var(--war-black-p);
}

.table-update-blue p {
    display: inline-block;
    font-weight: 500;

    font-size: 1.2rem;

    color: var(--war-black-p);
}

/*table slider*/

.table-slider {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.table-slider::-webkit-scrollbar {
    display: none;
}